version: "3"
services:
  python:
    image: python/devel:latest
    command: []
    hostname: devel
    volumes:
      - ./../:/localDir/:consistent
    environment:
      - NODE_ENV=production
      - RHOST=redis
    ports:
      - 1235:3000
    networks:
      - redis-net

  websrvr:
    image: websrvr/devel:latest
    command: []
    hostname: websrvr
    volumes:
      - ./../:/localDir/:consistent
    environment:
      - NODE_ENV=production
      - RHOST=redis
    ports:
      - 1235:3000
    networks:
      - redis-net



  master:
    image: redis:3
    networks:
      - redis-net
  slave:
    image: redis:3
    command: redis-server --slaveof redis-master 6379
    links:
      - master:redis-master
    networks:
      - redis-net

  sentinel:
    build: sentinel
    environment:
      - SENTINEL_DOWN_AFTER=5000
      - SENTINEL_FAILOVER=5000
    links:
      - master:redis-master
      - slave
    networks:
      - redis-net

networks:
  redis-net:
